@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Acorn Bold';
  src: url('../src/fonts/acorn-3.ttf') format('truetype'),
}

/*BLOB PICTURE*/

.box{
  background:url('./images/hero-picture.jpg');
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;
  height:350px;
  width: 350px;
  box-shadow: 0 20px 5px 5px rgba(0,0,0,0.2);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  z-index:1;
}

@keyframes animate{
  0%{
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@media (min-width: 768px) {
  .box {
    width: 450px;
    height: 450px;
  }
}


/*TAB IN COLLABORATE SECTION*/

.active{
  border-bottom: 3px solid rgb(2,90,78);
  transition: border-bottom 0.2s ease-in-out;
}

/*CARDS SHADOW*/

.box-shadow-bottom {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adjust spread radius and opacity as needed */
}